<div class="rasporediUnutra">
    <div class="maliDivNazivGrada">
        <label>Naziv Grada</label>
        <input type="text" value="<%= oglas.nazivGrada %>" readonly class="podesiInput">
    </div>
    <div class="maliDivOpstina">
        <label>Opstina ili deo grada</label>
        <input type="text" value="<%= oglas.deoGradaOpstina %>" readonly class="podesiInput">
    </div>
    <div class="maliDivAdresa">
        <label>Adresa</label>
        <input type="text" value="<%= oglas.adresa %>" readonly class="podesiInput">
    </div>
</div>